Repository esmero/archipelago-deployment, pull requests merged in 2021-08, with the labels that each got.

#119 Update docker-compose files to work with the new MinIO console
  composer.lock
  docker-compose-legacy.yml
  docker-compose-linux.yml
  docker-compose-osx.yml
Labels: enhancement, Docker Containers, Service Settings, Deployment Strategies

#120 ISSUE-118: Fix MINIO on RC2 to RELEASE.2021-06-07T21-40-51Z
  docker-compose-legacy.yml
  docker-compose-linux.yml
  docker-compose-osx.yml
Labels: Docker Containers, Service Settings

#121 ISSUE-118 D9 Version: Fix MINIO on RC2 to RELEASE.2021-06-07T21-40-51Z
  README.md
  docker-compose-legacy.yml
  docker-compose-linux.yml
  docker-compose-osx.yml
Labels: Docker Containers, Service Settings

#115 ISSUE-114: make Xdebug 3 work on archipelago-deployment RC3
  docker-compose.dev.yml
  xdebug/xdebug.ini
Labels: enhancement, Docker Containers
