Repository esmero/archipelago-deployment, pull requests merged in 2021-11, with the labels that each got.

#139 Potential Configuration updates/changes for 1.0.0 rc3 d9
  config/sync/core.entity_view_display.node.digital_object.default.yml
  config/sync/core.entity_view_display.node.digital_object.digital_object_image_only_for_carousel.yml
  config/sync/core.entity_view_display.node.digital_object.digital_object_oral_history_with_multiple_media.yml
  config/sync/core.entity_view_display.node.digital_object.digital_object_viewmode_fullitem.yml
  config/sync/core.entity_view_display.node.digital_object.digital_object_with_3d_viewer.yml
  config/sync/core.entity_view_display.node.digital_object.digital_object_with_a_v_player.yml
  config/sync/core.entity_view_display.node.digital_object.digital_object_with_book_reader.yml
  config/sync/core.entity_view_display.node.digital_object.digital_object_with_mirador_viewer.yml
  config/sync/core.entity_view_display.node.digital_object.digital_object_with_pannellum_panorama.yml
  config/sync/core.entity_view_display.node.digital_object.digital_object_with_pdf.yml
  config/sync/core.entity_view_display.node.digital_object.digital_object_with_replay_web_webarchive_with_navbars_.yml
  config/sync/core.entity_view_display.node.digital_object.digital_object_with_thumbnail_for_grid.yml
  config/sync/core.entity_view_display.node.digital_object.digital_object_with_video_player.yml
  config/sync/core.entity_view_display.node.digital_object.strawberryfield_processed_metadata.yml
  config/sync/core.entity_view_display.node.digital_object_collection.collection_listing.yml
  config/sync/core.entity_view_display.node.digital_object_collection.default.yml
  config/sync/core.entity_view_display.node.digital_object_collection.digital_object_collection_with_mirador_viewer.yml
  config/sync/core.entity_view_display.node.digital_object_collection.digital_object_creative_work_series_with_mirador_viewer.yml
  config/sync/core.entity_view_display.node.digital_object_collection.digital_object_with_thumbnail_for_grid.yml
  config/sync/core.entity_view_display.node.digital_object_collection.strawberryfield_processed_metadata.yml
  config/sync/format_strawberryfield.viewmodemapping_settings.yml
  config/sync/views.view.content.yml
  config/sync/views.view.map_display_for_digital_objects_sql.yml
  config/sync/views.view.my_content.yml
  config/sync/webform.webform.descriptive_metadata.yml
  config/sync/webform.webform.digital_object_collection.yml
  config/sync/webform.webform_options.schema_org_creative_works.yml
  d8content/metadatadisplays/linked_data.twig.html
Labels: Drupal YAML files, Release Duties

#137 ISSUE-108: Move to minio/console before MINIO UI is deprecated
  docker-compose-legacy.yml
  docker-compose-linux.yml
  docker-compose-osx.yml
Labels: Docker Containers, Service Settings

#128 ISSUE-127: Create upgradeFromD8toD9.md
  docs/upgradeFromD8toD9.md
Labels: documentation, Drupal9

#142 ISSUE-127: Add backticks to code blocks in Upgrade D8 to D9 doc.
  docs/upgradeFromD8toD9.md
Labels: documentation

#143 ISSUE-114: Update Xdebug settings for 1.0.0-RC3D9
  docker-compose.dev.yml
  xdebug/xdebug.ini
Labels: Docker Containers

#141 ISSUE-140: Add larger sort buffer for MYSQL8
  docker-compose-linux.yml
Labels: Docker Containers, External Bug

#145 Issue 140b
  config/sync/webform.webform.descriptive_metadata.yml
  d8content/metadatadisplays/ami_ingest_json.twig.html
  d8content/metadatadisplays/object_description.twig.html
  d8content/metadatadisplays/object_metadata_abstract_search_results.twig copy.html
  d8content/metadatadisplays/object_metadata_abstract_search_results.twig.html
Labels: Deployment Strategies, Twig
